#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

:root {
  --white: #EDF2F4;
  --gray: #585353;
  --red: #E76F51;
  --light-red: #FCAB97;
  --yellow: #E9C46A;
  --light-yellow: #FAE2AA;
  --green: #2A9D8F;
  --light-green: #68CABE;
  --blue: #264653;
  --light-blue: #256882;
  --orange: #F4A261;
  --light-orange: #F7C197;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--white);
}

/* Home - Layout */

.home_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home_header {
  background-color: var(--red);
  border-bottom: 6px solid var(--yellow);
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

#main_logo {
  height: 60%;
}

.home_main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 20px;
  margin-top: 15vh;
}

/* Home - Mock Draft Settings */

.mock_draft_settings {
  color: black;
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 280px;
  height: fit-content;
  margin: auto 30px auto 50px;
  padding: 10px 20px 30px;
  overflow-y: auto;
  flex-shrink: 0;
}

.mock_draft_settings h2 {
  margin-bottom: 10px;
}

.mock_draft_settings label {
  display: block;
  margin-bottom: 15px;
}

.mock_draft_instructions {
  text-align: left;
}

.draft_name, .draft_year, .num_rounds {
  font-weight: bold;
  text-align: left;
}

.draft_name input {
  color: black;
  background-color: var(--white);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  padding: 5px 0px 5px 5px;
}

.draft_name input::placeholder {
  color: rgb(78, 77, 77);
}

.draft_year select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 14px;
  color: black;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px 25px 8px 12px;
  background-image: url("/site/chevron_down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.num_rounds_selector {
  display: flex;
  gap: 6px;
  margin-top: 5px;
}

.num_rounds_selector button {
  font-weight: normal;
  color: black;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.num_rounds_selector button.selected {
  font-weight: bold;
  color: var(--white);
  background-color: var(--green);
}

.num_rounds_selector button:not(.selected):hover {
  color: var(--white);
  background-color: var(--blue);
}

#start_btn {
  font-weight: bold;
  color: black;
  background-color: var(--light-yellow);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

#start_btn:hover {
  color: white;
  background-color: var(--blue);
}

/* Home - Team Selection */

.team_selection {
  color: black;
  background-color: var(--orange);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: auto;
  min-width: 0;
  height: 90%;
  margin: 35px -120px auto 30px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;;
}

.team_selection h2 {
  margin-bottom: 10px;
  padding-left: 35%
}

#select_all_btn {
  font-weight: bold;
  color: black;
  background-color: var(--light-orange);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  margin: auto 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#select_all_btn:hover {
  color: white;
  background-color: var(--blue);
}

.team_selection_grid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.team_selection_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.select_team_btn {
  color: black;
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 6px;
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.select_team_btn:hover {
  border-color: var(--green);
  transform: scale(1.02);
}

.select_team_logo_wrapper {
  background-color: var(--white);
  height: 100%;
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.select_team_btn.selected, .select_team_btn.selected .select_team_logo_wrapper {
  background-color: var(--green);
  color: var(--white);
}

.select_team_logo {
  height: 130%;
  width: 100%;
  margin-left: -10px;
  object-fit: contain;
}

.select_team_name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  flex-grow: 1;
  padding-left: 16px;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Draft - Layout */

.draft_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.draft_header {
  background-color: var(--red);
  border-bottom: 6px solid var(--yellow);
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  z-index: 100;
}

#draft_logo {
  height: 80%;
}

.draft_main {
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  margin-top: 15vh;
}

/* Draft - Picks */

.draft_picks_wrapper {
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 80%;
  height: 72%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.on_the_clock_header {
  color: black;
  background-color: var(--orange);
  border-left: 3px solid black;
  border-right: 3px solid black;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
  width: 100%;
  height: 130%;
  margin-left: 0px;
  margin-right: -5px;
  padding: 3px 0 3px 0;
  position: relative;
  bottom: 22px;
  z-index: 5;
}

.draft_picks {
  height: 100%;
  max-width: 100%;
  display: flex;
  gap: 15px;
  margin-top: 16px;
  padding: 8px 841px 8px 12px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.draft_pick {
  color: black;
  background-color: var(--white);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 0 black;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: visible;
  min-width: 300px;
  padding: 0;
}

.pick_team_logo_wrapper {
  height: 100%;
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pick_team_logo {
  height: 130%;
  width: 100%;
  margin-left: -10px;
  object-fit: contain;
}

.pick_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-left: 16px;
  text-align: left;
}

.pick_team_name {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
}

.pick_team_name.picked {
  margin-bottom: 2px;
  position: relative;
  top: -2px;
}

.pick_selected_player {
  font-size: 0.85rem;
  color: var(--gray);
  font-style: italic;
}

.draft_pick.picked .pick_label {
  color: black;
  background-color: var(--red);
}

.draft_pick.on_the_clock .pick_label {
  color: var(--white);
  background-color: var(--green);
}

.draft_pick.future .pick_label {
  background-color: var(--orange);
}

.pick_label {
  font-size: 0.7rem;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  min-width: 30px;
  height: 15px;
  padding: 5px 8px 8px 8px;
  position: relative;
  top: 20px;
  left: 5px;
  text-align: center;
}

.user_controlled_team_label {
  font-size: 0.7rem;
  color: white;
  background-color: var(--blue);
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  min-width: 50px;
  height: 15px;
  padding: 5px 0px 8px 0px;
  position: absolute;
  right: 50px;
  bottom: -2px;
}

/* Draft - Tools */

.draft_tools {
  color: black;
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 20%;
  height: 85%;
  margin-top: 30px;
  padding: 10px 20px 30px;
  overflow-y: auto;
  flex-shrink: 0;
}

.draft_tools h2 {
  margin-bottom: 30px;
}

.draft_tool {
  font-weight: bold;
  color: black;
  background-color: var(--light-yellow);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  margin-bottom: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.draft_tool:hover {
  color: white;
  background-color: var(--blue);
  border: 2px solid black;
}

.draft_details {
  background-color: var(--red);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  line-height: 0.3;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
}

.draft_details h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Draft - Big Board */

.big_board {
  color: black;
  background-color: var(--green);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 50%;
  height: 91%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 30px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.big_board_header {
  border-bottom: 6px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  position: relative;
  z-index: 1;
}

.big_board_left, .big_board_right, .big_board_center {
  display: flex;
  align-items: center;
}

.big_board_center {
  flex-grow: 1;
  justify-content: center;
}

.big_board_left, .big_board_right {
  flex-shrink: 0;
}

.position_filter {
  width: 100px;
  flex-shrink: 0;
}

.position_filter:hover .select__single-value, .position_filter:hover .select__dropdown-indicator, .position_filter:focus .select__single-value, .position_filter:focus .select__dropdown-indicator {
  color: white !important;
}

.position_filter .select__control--is-focused .select__single-value,
.position_filter .select__control--menu-is-open .select__single-value {
  color: white !important;
}

.player_search_input {
  font-size: 0.9rem;
  color: black;
  background-color: var(--light-green);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 0 black;
  min-width: 50px;
  max-width: 50px;
  height: 28px;
  padding: 5px 10px;
  transition: all 0.2s ease;
  flex-shrink: 1;
}

.player_search_input::placeholder {
  font-weight: bold;
  color: black;
}

.player_search_input:focus, .player_search_input:hover {
  min-width: 300px;
  max-width: 300px;
}

.players {
  overflow-y: auto;
  padding: 20px;
  flex-grow: 1;
}

.player {
  color: black;
  background-color: var(--white);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  padding: 0;
}

.player_college_logo_wrapper {
  height: 100%;
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.player_college_logo {
  height: 130%;
  width: 100%;
  margin-left: -10px;
  object-fit: contain;
}

.player_details {
  text-align: left;
  flex-grow: 1;
}

.player_name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  padding-left: 16px;
  margin-right: 10px;
}

.player_background {
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  bottom: 1px;
}

.player_position {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  min-width: 15px;
  height: 10px;
  padding: 3px 8px 8px 8px;
  position: relative;
  bottom: 28px;
  left: 83px;
}

.player_rank {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--red);
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  min-width: 15px;
  height: 10px;
  padding: 3px 8px 8px 8px;
  position: relative;
  bottom: 28px;
  left: 85px;
  text-align: center;
}

.select_player {
  font-size: 0.8rem;
  position: relative;
  top: 16px;
  left: 3px;
}

.select_player_btn {
  font-weight: bold;
  color: black;
  background-color: var(--light-green);
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: inline-block;
  position: relative;
}

.select_player_btn:hover {
  color: white;
  background-color: var(--blue);
  border: 2px solid black;
}

/* Draft - Team Profile */

.team_profile {
  color: black;
  background-color: var(--orange);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 20%;
  height: 85%;
  margin-top: 30px;
  padding: 10px 20px 30px;
  overflow-y: auto;
  flex-shrink: 0;
}

.team_profile_header {
  /* border: 2px solid black;
  box-shadow: 4px 4px 0 black; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.team_profile_logo_wrapper {
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
}

.team_profile_logo {
  width: 120%;
  margin-right: 25px;
  object-fit: contain;
}

.team_positional_needs_grid {
  background-color: var(--light-orange);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  padding: 10px 10px 10px 6px;
}

.team_positional_needs_header {
  margin: 0;
  padding-left: 12px;
}

.positional_needs_info_icon {
  color: var(--gray);
  font-size: 0.85rem;
  display: inline-block;
  margin-left: 6px;
  position: relative;
  bottom: 1px;
  cursor: help;
}

.positional_needs_tooltip_text {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--white);
  background-color: var(--light-blue);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  border-radius: 8px;
  text-align: left;
  line-height: 1.7;
  width: 260px;
  height: 100px;
  padding: 8px;
  position: absolute;
  top: 140%;
  visibility: hidden;
  transform: translateX(-82%);
  opacity: 0;
  z-index: 100;
}

.positional_needs_info_icon:hover .positional_needs_tooltip_text {
  visibility: visible;
  opacity: 0.95;
}

.position_box {
  font-size: 0.75rem;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 0 black;
  text-align: center;
  width: 100%;
  max-width: 25px;
  max-height: 40px;
  padding: 6px;
}

.positional_needs_row {
  display: grid;
  gap: 8px;
}

.offensive_need {
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

.defensive_need {
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  position: relative;
  left: 25px;
}

.position_label {
  font-weight: bold;
  color: white;
  display: block;
  margin-bottom: 2px;
}

.position_value {
  font-weight: bold;
  color: black;
}

.team_picks_list {
  background-color: var(--red);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  margin-top: 25px;
}

.team_picks_list_header {
  border-bottom: 6px solid black;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.team_picks {
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 12px;
  padding-bottom: 12px;
  overflow-y: auto;
}

.team_pick {
  font-size: 0.85rem;
  color: black;
  background-color: var(--light-red);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 0 black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.current_team_pick {
  background-color: var(--green);
}

.pick_info {
  font-weight: bold;
  padding-right: 5px;
}

.pick_player {
  text-align: right;
}

.pick_empty {
  font-style: italic;
  text-align: right;
}

/* Results - Layout */

.results_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.results_header {
  background-color: var(--red);
  border-bottom: 6px solid var(--yellow);
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
}

#results_logo {
  height: 80%;
}

.results_main {
  width: 96%;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-left: 2%;
  margin-top: 15vh;
  overflow-x: hidden;
  }

/* Results - Header + Export */

.results_header h1 {
  color: var(--yellow);
  text-align: center;
  flex-grow: 1;
}

.export_draft_options {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-right: 15px;
}

.export_draft_btn {
  font-size: 0.85rem;
  font-weight: bold;
  color: black;
  background-color: var(--light-red);
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 4px 4px 0 black;
  flex: 1 0 48%;
  padding: 6px 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.export_draft_btn:hover {
  color: white;
  background-color: var(--blue);
  border: 2px solid black;
}

/* Results - Results */

.results {
  color: black;
  background-color: var(--green);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 99%;
  height: 91%;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  margin-top: 30px;
  padding: 0;
  position: relative;
}

.results_tabs {
  background: var(--light-green);
  border-bottom: 2px solid black;
  min-height: 40px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
  /* gap: 1rem; */
  padding: 0.5rem 0rem 0rem 0rem;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 1;
}

.tab {
  font-weight: bold;
  color: black;
  background-color: var(--orange);
  border: 2px solid var(--red);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tab:hover {
  background-color: var(--light-orange);
}

.tab.active {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid black;
}

.results_list {
  overflow-y: auto;
  padding: 20px;
  flex-grow: 1;
}

.round_divider {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.results_pick {
  color: black;
  background-color: var(--white);
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  padding: 0;
}

.results_pick_logo_wrapper {
  height: 100%;
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.results_pick_logo {
  height: 130%;
  width: 100%;
  margin-left: -10px;
  object-fit: contain;
}

.results_pick_details {
  text-align: left;
  flex-grow: 1;
}

.results_pick_number {
  font-size: 0.9rem;
  text-align: left;
  padding-left: 16px;
  margin-right: 10px;
  bottom: 2px;
}

.results_player_name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  margin-right: 10px;
}

.results_player_background {
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  bottom: 1px;
}

.results_player_position {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  min-width: 15px;
  height: 10px;
  padding: 3px 8px 8px 8px;
  position: relative;
  bottom: 28px;
  left: 8px;
}

.results_pick_rank {
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--red);
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  min-width: 15px;
  height: 10px;
  padding: 3px 8px 8px 8px;
  position: relative;
  bottom: 28px;
  left: 10px;
  text-align: center;
}

.view_toggle {
  width: 150px;
  background-color: var(--light-orange);
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  padding: 0;
  display: flex;
  position: absolute;
  top: 625px;
  right: 1310px;
  z-index: 5;
  overflow: hidden;
}

.switch_option {
  color: black;
  background-color: transparent;
  border: none;
  flex: 1;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2 ease, font-weight 0.2s ease;
}

.switch_option:not(.active):hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: var(--light-red);
}

.switch_option.active {
  font-weight: bold;
  background-color: var(--orange);
}

.switch_option.list {
  border-right: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

.switch_option.grid {
  border-left: 1px solid black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* TEMPLATE STYLING */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
