#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

:root {
  --gray: #EDF2F4;
  --red: #E76F51;
  --yellow: #E9C46A;
  --green: #2A9D8F;
  --blue: #264653;
  --orange: #F4A261;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--gray);
}

/* Home - Layout */

.home_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home_header {
  background-color: var(--red);
  border-bottom: 6px solid var(--yellow);
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

#main_logo {
  height: 60%;
}

.home_main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 20px;
  margin-top: 15vh;
}

/* Home - Mock Draft Settings */

.mock_draft_settings {
  color: black;
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 280px;
  height: fit-content;
  margin: auto 30px auto 50px;
  padding: 10px 20px 30px;
  overflow-y: auto;
  flex-shrink: 0;
}

.mock_draft_settings h2 {
  margin-bottom: 10px;
}

.mock_draft_settings label {
  display: block;
  margin-bottom: 15px;
}

.mock_draft_instructions {
  text-align: left;
}

.draft_name, .draft_year, .num_rounds {
  font-weight: bold;
  text-align: left;
}

.draft_name input {
  color: black;
  background-color: var(--gray);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  padding: 5px 0px 5px 5px;
}

.draft_name input::placeholder {
  color: rgb(78, 77, 77);
}

.draft_year select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 14px;
  color: black;
  background-color: var(--gray);
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px 25px 8px 12px;
  background-image: url("/site/chevron_down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.num_rounds_selector {
  display: flex;
  gap: 6px;
  margin-top: 5px;
}

.num_rounds_selector button {
  color: black;
  background-color: var(--gray);
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.num_rounds_selector button:hover {
  color: var(--gray);
  background-color: var(--blue);
}

.num_rounds_selector button.selected {
  font-weight: bold;
  color: var(--gray);
  background-color: var(--green);
}

#start_btn {
  color: var(--gray);
  background-color: var(--blue);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease;
}

#start_btn:hover {
  color: black;
  background-color: var(--green);
}

/* Home - Team Selection */

.team_selection {
  color: black;
  background-color: var(--orange);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: auto;
  min-width: 0;
  height: 90%;
  margin: 35px -120px auto 30px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;;
}

.team_selection h2 {
  margin-bottom: 10px;
  padding-left: 35%
}

#select_all_btn {
  color: var(--gray);
  background-color: var(--blue);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  margin: auto 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#select_all_btn:hover {
  color: black;
  background-color: var(--green);
}

.teams_grid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.teams_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.team_btn {
  color: black;
  background-color: var(--gray);
  border: 1px solid black;
  border-radius: 6px;
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.team_btn:hover {
  border-color: var(--green);
  transform: scale(1.02);
}

.team_logo_wrapper {
  background-color: var(--gray);
  height: 100%;
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.team_btn.selected, .team_btn.selected .team_logo_wrapper {
  background-color: var(--green);
  color: var(--gray);
}

.team_logo {
  height: 130%;
  width: 100%;
  margin-left: -10px;
  object-fit: contain;
}

.team_name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  flex-grow: 1;
  padding-left: 16px;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Draft - Layout */

.draft_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.draft_header {
  background-color: var(--red);
  border-bottom: 6px solid var(--yellow);
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  z-index: 100;
}

#draft_logo {
  height: 80%;
}

.draft_main {
  width: 245%;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  margin-top: 15vh;
}

/* Draft - Picks */

.draft_picks {
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 79%;
  height: 55%;
  max-width: 100%;
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#on_the_clock {
  color: black;
  background-color: var(--orange);
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  height: 80px;
  margin: -8px 10px 0px -12px;
  padding: 3px 0px 3px 0px;
}

.draft_pick {
  color: black;
  background-color: var(--gray);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0 black;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 250px;
  padding: 0;
}

.pick_team_logo_wrapper {
  background-color: var(--gray);
  height: 100%;
  display: flex;
  flex: 0 0 70px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pick_team_logo {
  height: 130%;
  width: 100%;
  margin-left: -10px;
  object-fit: contain;
}

.pick_team_name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  flex-grow: 1;
  padding-left: 16px;
}

.draft_pick.picked .pick_label {
  background-color: var(--blue);
}

.draft_pick.on_the_clock .pick_label {
  color: var(--gray);
  background-color: var(--green);
}

.draft_pick.future .pick_label {
  background-color: var(--orange);
}

.pick_label {
  font-size: 0.7rem;
  font-weight: bold;
  min-width: 30px;
  height: 100%;
  border-radius: 4px;
  padding: 50px 8px 10px 8px;
}

/* Draft - Tools */

.draft_tools {
  color: black;
  background-color: var(--yellow);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 10%;
  height: 85%;
  margin-top: 30px;
  padding: 10px 20px 30px;
  overflow-y: auto;
  flex-shrink: 0;
}

.draft_tools h2 {
  margin-bottom: 30px;
}

.draft_tool {
  font-weight: bold;
  color: var(--gray);
  background-color: var(--blue);
  border: 2px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0 black;
  width: 100%;
  margin-bottom: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.draft_tool:hover {
  color: black;
  background-color: var(--green);
  border: 2px solid black;
}

/* Draft - Big Board */

.big_board {
  color: black;
  background-color: var(--green);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 50%;
  height: 85%;
  flex-grow: 1;
  margin-top: 30px;
  padding: 20px;
  overflow-y: scroll;
}

/* Draft - Team Profile */

.team_profile {
  color: black;
  background-color: var(--orange);
  border: 2px solid black;
  box-shadow: 6px 6px 0 black;
  width: 20%;
  height: 85%;
  margin-top: 30px;
  padding: 10px 20px 30px;
  overflow-y: auto;
  flex-shrink: 0;
}

/* TEMPLATE STYLING */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
